Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Path conditions:
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  lint: any of: *.py, **/*.py
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  typecheck: any of: *.py, **/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py

Fix examples scripts
  examples/06_advanced_functionalities/06_advanced_functionalities.py
  examples/14_custom_functionals/14_custom_functionals.py
  examples/14_custom_functionals/correlation_energy_error.png
  examples/16_fod_optimization/16_fod_optimization.py
Due: coverage, lint, typecheck, pages, pages:dev

Fix gui functions
  eminus/extras/gui.py
  eminus/kpoints.py
  examples/12_wannier_localization/12_wannier_localization.ipynb
  tests/test_kpoints.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Fix remaining notebook warnings
  eminus/extras/gui.py
  examples/08_visualizer_extra/08_visualizer_extra.ipynb
  examples/10_domain_generation/10_domain_generation.ipynb
  examples/12_wannier_localization/12_wannier_localization.ipynb
  examples/19_band_structures/19_band_structures.ipynb
  tests/extras/test_plot_bandstructure_dos.ipynb
  tests/extras/test_view_atoms.ipynb
  tests/extras/test_view_contour.ipynb
  tests/extras/test_view_file.ipynb
  tests/extras/test_view_kpts.ipynb
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Return of the astype
  eminus/atoms.py
  eminus/energies.py
  eminus/gga.py
Due: coverage, lint, minimal, newest, typecheck

dft: Use einsum in get_n_spin
  eminus/config.py
  eminus/dft.py
Due: coverage, lint, minimal, newest, typecheck

Revert "config: Cleanup unused settings"
  eminus/config.py
  eminus/config.pyi
  tests/test_config.py
Due: coverage, lint, minimal, newest, typecheck

Fix thread and gpu setting
  eminus/backend.py
  eminus/config.py
  examples/06_advanced_functionalities/06_advanced_functionalities.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Revert "dft: Use einsum in get_n_spin"
  eminus/config.py
  eminus/dft.py
Due: coverage, lint, minimal, newest, typecheck

Set lowest supported version to 3.9
  .gitlab-ci.yml
  docs/installation.rst
  eminus/backend.py
  eminus/config.py
  eminus/io/gth.py
  flake.nix
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

backend: Fix minimal CI
  eminus/backend.py
Due: coverage, lint, minimal, newest, typecheck

nix flake update
  flake.lock
Due: none

config: Fix gpu setting
  eminus/config.py
Due: coverage, lint, minimal, newest, typecheck

examples nit
  examples/06_advanced_functionalities/06_advanced_functionalities.py
Due: coverage, lint, typecheck, pages, pages:dev

Fix use_gpu setting
  eminus/config.py
Due: coverage, lint, minimal, newest, typecheck

kpts: More xp conversion, fix sqrtm on gpu
  eminus/backend.py
  eminus/kpoints.py
Due: coverage, lint, minimal, newest, typecheck

config: Fix config descriptions
  eminus/config.py
Due: coverage, lint, minimal, newest, typecheck

Fix mGGA in GPU
  eminus/extras/libxc.py
Due: coverage, lint, minimal, newest, typecheck

libxc: Fix pyscf warnings check
  eminus/extras/libxc.py
Due: coverage, lint, minimal, newest, typecheck

Revert "Fix mGGA in GPU"
  eminus/extras/libxc.py
Due: coverage, lint, minimal, newest, typecheck

Add backend tests
  eminus/backend.py
  tests/test_backend.py
Due: coverage, lint, minimal, newest, typecheck

Fix backend test type errors
  tests/test_backend.py
Due: coverage, lint, minimal, newest, typecheck

version: Adjust version printing width
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

gga: Remove one unnecessary cast
  eminus/gga.py
Due: coverage, lint, minimal, newest, typecheck

toml: Add Free threading classifier
  pyproject.toml
Due: none

kpts: Revert one debug change
  eminus/kpoints.py
Due: coverage, lint, minimal, newest, typecheck

Update changelog
  CHANGELOG.rst
Due: none

tests: Run tests for each backend
  CHANGELOG.rst
  tests/README.md
  tests/conftest.py
Due: coverage, lint, minimal, newest, typecheck

Fix attr-defined violations
  eminus/backend.pyi
  pyproject.toml
  tests/test_xc_gdsmfb.py
Due: coverage, lint, minimal, newest, typecheck

backend: Improve documentation
  eminus/backend.py
Due: coverage, lint, minimal, newest, typecheck

Fix stubtest
  .gitlab-ci.yml
  eminus/backend.py
Due: coverage, lint, minimal, newest, typecheck

Improve backend tests
  eminus/backend.py
  tests/conftest.py
  tests/test_backend.py
Due: coverage, lint, minimal, newest, typecheck

Add backend docs
  CHANGELOG.rst
  docs/backend.rst
  docs/index.rst
Due: coverage, pages, pages:dev

backend: Add to_np helper function
  eminus/backend.py
  eminus/backend.pyi
  tests/test_backend.py
Due: coverage, lint, minimal, newest, typecheck

toml: Remove Free Threading classifier
  pyproject.toml
Due: none

tests: Simplify data test
  tests/test_data.py
Due: coverage, lint, minimal, newest, typecheck

Add testing module
  CHANGELOG.rst
  docs/backend.rst
  docs/modules.rst
  eminus/README.md
  eminus/testing.py
  eminus/testing.pyi
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Use testing utilities from eminus
  tests/dft_calculations/test_band_structure.py
  tests/dft_calculations/test_bulk.py
  tests/dft_calculations/test_charged_systems.py
  tests/dft_calculations/test_custom_k.py
  tests/dft_calculations/test_polarized_pbe.py
  tests/dft_calculations/test_polarized_vwn.py
  tests/dft_calculations/test_scan.py
  tests/dft_calculations/test_smearing_polarized.py
  tests/dft_calculations/test_smearing_unpolarized.py
  tests/dft_calculations/test_spined_systems.py
  tests/dft_calculations/test_unpolarized_pbe.py
  tests/dft_calculations/test_unpolarized_vwn.py
  tests/extras/test_d3.py
  tests/extras/test_fods.py
  tests/extras/test_hdf5.py
  tests/extras/test_libxc.py
  tests/test_atoms.py
  tests/test_backend.py
  tests/test_band_minimizer.py
  tests/test_cell.py
  tests/test_dft.py
  tests/test_domains.py
  tests/test_energies.py
  tests/test_ewald.py
  tests/test_gga.py
  tests/test_gth.py
  tests/test_io.py
  tests/test_kpoints.py
  tests/test_localizer.py
  tests/test_minimizer.py
  tests/test_occupations.py
  tests/test_operators.py
  tests/test_orbitals.py
  tests/test_potentials.py
  tests/test_scf.py
  tests/test_tools.py
  tests/test_utils.py
  tests/test_xc.py
  tests/test_xc_gdsmfb.py
  tests/test_xc_utils.py
Due: coverage, lint, minimal, newest, typecheck

Add testing tests, small fixes
  eminus/backend.py
  eminus/testing.py
  tests/test_backend.py
  tests/test_testing.py
Due: coverage, lint, minimal, newest, typecheck

testing: Use numpy types
  eminus/testing.pyi
Due: none

More proper np conversion
  eminus/extras/d3.py
  eminus/extras/gui.py
  eminus/extras/libxc.py
  eminus/io/json.py
  eminus/kpoints.py
  eminus/localizer.py
Due: coverage, lint, minimal, newest, typecheck
