Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

coverage:
  stage: test
  script:
  - pip install .
  - pip install coverage pyscf pytest
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage html --precision=2
  - coverage xml
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  ...

lint:
  stage: test
  script:
  - pip install ruff
  - ruff check

minimal:
  stage: test
  script:
  - python3 -m pip install .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  image: python:3.7-slim
  before_script:
  - pip install numpy==1.17 scipy==1.6

newest:
  stage: test
  script:
  - python3 -m pip install .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"

typecheck:
  stage: test
  script:
  - pip install mypy numpy
  - mypy . --disable-error-code="import-not-found" --disable-error-code="unused-ignore"

docker:
  stage: fulltest
  script:
  - VERSION=$(sed -n 's/^__version__ = "\(.*\)"/\1/p' eminus/version.py)
  - docker build -t wangenau/eminus:"${VERSION}" --build-arg BRANCH=$CI_COMMIT_BRANCH .
  ...

installation:
  stage: fulltest
  script:
  - pip install --upgrade pip
  - pip install build twine
  - python -m build
  - twine check dist/*
  - cp -r dist/ tmp/
  - cd tmp/
  - tar -xf eminus-*.tar.gz
  - pip install eminus-*/.
  - python -c "import eminus; eminus.demo()"
  - pip uninstall eminus -y
  - pip install eminus-*.whl
  ...

platform:linux:
  stage: fulltest
  script:
  - python3 -m pip install .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  allow_failure: false
  image: ubuntu:latest
  before_script:
  - apt-get update -y
  - apt-get install python3 python3-pip python3-venv -y --no-install-recommends
  ...

platform:nixos:
  stage: fulltest
  script:
  - nix --extra-experimental-features "nix-command flakes" develop -c pytest tests/ -m "not slow"
  when: manual
  allow_failure: false
  image: nixpkgs/nix:latest

platform:windows:
  stage: fulltest
  script:
  - python3 -m pip install .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  allow_failure: false
  tags:
  - saas-windows-medium-amd64
  before_script:
  - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
  ...

python:
  stage: fulltest
  script:
  - python3 -m pip install .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  allow_failure: false
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
    - PYTHON_VERSIONS:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
      - '3.12'

pages:
  stage: deploy
  needs:
  - coverage
  script:
  - pip install .
  - pip install furo notebook sphinx sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  ...

ci: Simplify nogil test
  .gitlab-ci.yml
Due: none

xc: Improve documentation
  docs/modules.rst
  eminus/xc/lda_xc_gdsmfb.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

version: Release v3.0.1
  CHANGELOG.rst
  CITATION.cff
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

docs: Mention the eminus paper repo in examples
  docs/_templates/custom-examples.rst
Due: coverage, pages, pages:dev

xc: Add missing readme entry
  eminus/xc/README.md
Due: none

xc/gdsmfb: Improve pade performance
  eminus/xc/lda_xc_gdsmfb.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

xc/gdsmfb: Improve _get_fxc performance and readability
  eminus/xc/lda_xc_gdsmfb.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

Drop Python 3.7 support, add 3.8 goodies
  .gitlab-ci.yml
  CHANGELOG.rst
  docs/installation.rst
  eminus/io/gth.py
  eminus/version.py
  eminus/xc/lda_xc_gdsmfb.py
  eminus/xc/lda_xc_gdsmfb.pyi
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

xc/gdsmfb: Only cache property when needed
  eminus/xc/lda_xc_gdsmfb.py
  eminus/xc/lda_xc_gdsmfb.pyi
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

ci: Use alpine image for type checking
  .gitlab-ci.yml
Due: none

test/utils: Fix deprecation warning for upcoming scipy 1.15
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

ci: Remove prerelease flag from nogil test
  .gitlab-ci.yml
Due: none

typ: Mark typing stubs file as private
  eminus/_typing.pyi
  eminus/atoms.pyi
  eminus/cell.pyi
  eminus/domains.pyi
  eminus/extras/viewer.pyi
  eminus/kpoints.pyi
  eminus/localizer.pyi
  eminus/occupations.pyi
  eminus/operators.pyi
  eminus/scf.pyi
  eminus/tools.pyi
  eminus/utils.pyi
  eminus/xc/lda_c_pw.pyi
Due: none

xc: Fix and test return shapes of functionals when calling them directly
  eminus/xc/gga_c_pbe.py
  eminus/xc/gga_x_chachiyo.py
  eminus/xc/gga_x_pbe.py
  eminus/xc/lda_c_pw.py
  eminus/xc/lda_c_vwn.py
  tests/test_xc.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

Improve wording
  docs/nomenclature.rst
  eminus/extras/fods.py
  eminus/extras/libxc.py
  eminus/extras/viewer.py
  eminus/gga.py
  eminus/io/poscar.py
  eminus/io/xyz.py
  eminus/localizer.py
  eminus/minimizer.py
  eminus/occupations.py
  eminus/scf.py
  examples/04_dft_calculations/04_dft_calculations.py
  pyproject.toml
  tests/test_gth.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

ruff: Adjust rules for 0.9 changes
  pyproject.toml
Due: none

xc: Small nits
  CHANGELOG.rst
  eminus/xc/gga_x_pbe.py
  eminus/xc/utils.py
  examples/17_reduced_density_gradient/17_reduced_density_gradient.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

ci: Use uv publish and alpine image in weekly builds
  .gitlab-ci.yml
Due: none

docs: Use collections.abc.Callable
  docs/conf.py
Due: coverage, lint, typecheck, pages, pages:dev

nix: Flake update, use uv, add h5py
  flake.lock
  flake.nix
Due: none

extras/fods: Simplify get_localized_orbitals a bit
  eminus/extras/fods.py
  eminus/extras/fods.pyi
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

Update citation information
  .zenodo.json
  CHANGELOG.rst
  CITATION.cff
  README.md
  docs/citation.rst
  docs/further.rst
  docs/references.bib
  docs/theory.rst
  eminus/__init__.py
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

docs: Simplify examples url
  docs/examples_builder.py
  docs/further.rst
  docs/index.rst
  docs/overview.rst
Due: coverage, lint, typecheck, pages, pages:dev

noqa cleanup
  docs/conf.py
  eminus/config.py
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

tests: Add backend check
  tests/extras/test_jax.py
  tests/extras/test_torch.py
  tests/test_operators.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

Backend test improvements
  CHANGELOG.rst
  eminus/config.py
  tests/extras/test_jax.py
  tests/extras/test_torch.py
  tests/test_operators.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

Add DOI badges
  README.md
  docs/index.rst
Due: coverage, pages, pages:dev

ci: Use the new pypi-attestations CLI
  .gitlab-ci.yml
Due: none

tests: Remove oprtator backend test
  tests/extras/test_jax.py
  tests/extras/test_torch.py
  tests/test_operators.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

version: Release v3.0.2
  CHANGELOG.rst
  CITATION.cff
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

toml: Correct classifiers indentation
  pyproject.toml
Due: none

ci: Simplify publish workflow
  .gitlab-ci.yml
  Dockerfile
Due: none

io: Fix FURB122
  eminus/io/cube.py
  eminus/io/poscar.py
  eminus/io/xyz.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

io/cube: Improve performance
  CHANGELOG.rst
  eminus/io/cube.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

TYP: Fix Atoms.Z setter types
  eminus/atoms.pyi
Due: none

version: Center logo above text
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

nix: Back to pip
  flake.nix
Due: none

docker: Simplify Torch installation with the 2.6 release
  Dockerfile
  pyproject.toml
Due: none

ci: Simplify build pipeline
  .gitlab-ci.yml
Due: none

Path conditions:
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  lint: any of: *.py, **/*.py
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  typecheck: any of: *.py, **/*.py
  docker: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  installation: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:nixos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
