Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, lint, minimal, newest, typecheck, pages, pages:dev

coverage:
  stage: test
  script:
  - pip install -e .
  - pip install coverage pyscf pytest pytest-cov
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage html --precision=2
  - coverage xml
  ...

lint:
  stage: test
  script:
  - pip install ruff
  - ruff check

minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  image: python:3.7-slim
  before_script:
  - pip install numpy==1.17 scipy==1.6

newest:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"

typecheck:
  stage: test
  script:
  - pip install mypy
  - mypy .

pages:
  stage: deploy
  needs:
  - coverage
  script:
  - pip install -e .
  - pip install sphinx furo sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - pip install notebook
  ...

pages:dev:
  stage: deploy
  needs: []
  script:
  - pip install -e .
  - pip install sphinx furo sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - pip install notebook
  ...

typing: Add Final to units and version
  eminus/units.pyi
  eminus/version.pyi
Due: none

Mark log as private in Atoms and SCF
  CHANGELOG.rst
  eminus/atoms.py
  eminus/atoms.pyi
  eminus/band_minimizer.py
  eminus/io/json.py
  eminus/localizer.py
  eminus/minimizer.py
  eminus/scf.py
  eminus/scf.pyi
  tests/test_io.py
  tests/test_scf.py
Due: coverage, lint, minimal, newest, typecheck

extras/viewer: Add slots to EminusTrajectory
  eminus/extras/viewer.py
Due: coverage, lint, minimal, newest, typecheck

typing: Mark protocols as private
  eminus/band_minimizer.pyi
  eminus/minimizer.pyi
  eminus/utils.pyi
  eminus/xc/utils.pyi
Due: none

typing: use TypeVars for some float inputs
  eminus/tools.pyi
  eminus/typing.pyi
  eminus/units.pyi
Due: none

typing: Reduce overloads by using TypeVars
  eminus/dft.pyi
  eminus/extras/libxc.pyi
  eminus/extras/torch.pyi
  eminus/localizer.pyi
  eminus/operators.pyi
  eminus/tools.pyi
  eminus/typing.pyi
  eminus/units.pyi
  eminus/xc/utils.pyi
  tests/extras/test_libxc.py
  tests/test_xc.py
  tests/test_xc_utils.py
Due: coverage, lint, minimal, newest, typecheck

Update changelog
  CHANGELOG.rst
Due: none

Add SCDM localization
  CHANGELOG.rst
  docs/nomenclature.rst
  docs/overview.rst
  eminus/localizer.py
  eminus/localizer.pyi
  eminus/orbitals.py
  eminus/orbitals.pyi
  eminus/tools.py
  examples/12_wannier_localization/12_wannier_localization.ipynb
  examples/16_fod_optimization/16_fod_optimization.py
  tests/examples/test_scripts.py
  tests/test_io.py
  tests/test_localizer.py
  tests/test_orbitals.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

tests: Fix CI breaking due to missing pyscf
  tests/test_orbitals.py
Due: coverage, lint, minimal, newest, typecheck

Update SCDM reference
  eminus/localizer.py
  eminus/orbitals.py
Due: coverage, lint, minimal, newest, typecheck

Rename SCDMO to SCDM
  docs/nomenclature.rst
  eminus/localizer.py
  eminus/orbitals.py
  eminus/orbitals.pyi
  tests/test_localizer.py
  tests/test_orbitals.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Correct PBE reference, do not cite the erratum
  eminus/tools.py
  eminus/xc/gga_c_pbe.py
  eminus/xc/gga_x_pbe.py
Due: coverage, lint, minimal, newest, typecheck

Merge handle_k operators into one
  CHANGELOG.rst
  eminus/dft.py
  eminus/energies.py
  eminus/extras/torch.py
  eminus/gga.py
  eminus/localizer.py
  eminus/operators.py
  eminus/tools.py
  eminus/utils.py
  eminus/utils.pyi
  examples/12_wannier_localization/12_wannier_localization.ipynb
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

localizer: Handle spin in SCDM
  eminus/localizer.py
  eminus/occupations.py
Due: coverage, lint, minimal, newest, typecheck

Add POSCAR read and write functions
  CHANGELOG.rst
  docs/modules.rst
  docs/overview.rst
  eminus/io/README.md
  eminus/io/__init__.py
  eminus/io/__init__.pyi
  eminus/io/poscar.py
  eminus/io/poscar.pyi
  eminus/utils.py
  tests/test_io.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Update extra installation information, update broken pylibxc links
  eminus/extras/__init__.py
  eminus/extras/dispersion.py
  eminus/extras/fods.py
  eminus/extras/libxc.py
  eminus/extras/symmetry.py
  eminus/extras/torch.py
  eminus/extras/viewer.py
Due: coverage, lint, minimal, newest, typecheck

Add ext_params implementation
  CHANGELOG.rst
  eminus/dft.py
  eminus/energies.py
  eminus/extras/libxc.py
  eminus/extras/libxc.pyi
  eminus/scf.py
  eminus/scf.pyi
  eminus/xc/__init__.py
  eminus/xc/__init__.pyi
  eminus/xc/utils.py
  eminus/xc/utils.pyi
  tests/extras/test_libxc.py
  tests/test_scf.py
  tests/test_xc_utils.py
Due: coverage, lint, minimal, newest, typecheck

Fix a xc_params edge case to fix the nixos test
  eminus/scf.py
Due: coverage, lint, minimal, newest, typecheck

Misc docstring fixes + pytest style fixes from ruff 0.6
  eminus/extras/viewer.py
  eminus/io/__init__.py
  eminus/io/json.py
  eminus/logger.py
  eminus/utils.py
  tests/examples/test_notebooks.py
  tests/examples/test_scripts.py
Due: coverage, lint, minimal, newest, typecheck

viewer: Fix size not being respected in interactive views
  eminus/extras/viewer.py
Due: coverage, lint, minimal, newest, typecheck

ruff: Remove G005 and TRY003 from ignore list, sort format specific rules
  pyproject.toml
Due: none

mypy: Exclude examples properly, seems to work now
  docs/examples_builder.py
  examples/13_geometry_optimization/13_geometry_optimization.py
  examples/14_custom_functionals/14_custom_functionals.py
  examples/15_custom_functionals_spin/15_custom_functionals_spin.py
  examples/16_fod_optimization/16_fod_optimization.py
  examples/17_reduced_density_gradient/17_reduced_density_gradient.py
  examples/18_k_points/18_k_points.py
  pyproject.toml
Due: coverage, lint, typecheck, pages, pages:dev

tests: Add more orbitals and poscar tests
  tests/POSCAR.test
  tests/test_io.py
  tests/test_orbitals.py
Due: coverage, lint, minimal, newest, typecheck

Small exception improvements
  eminus/kpoints.py
  eminus/xc/utils.py
Due: coverage, lint, minimal, newest, typecheck

Misc test improvements
  pyproject.toml
  tests/test_band_minimizer.py
  tests/test_io.py
Due: coverage, lint, minimal, newest, typecheck

tests: Make mypy happy
  tests/test_io.py
Due: coverage, lint, minimal, newest, typecheck

Revert "mypy: Exclude examples properly, seems to work now"
  docs/examples_builder.py
  examples/13_geometry_optimization/13_geometry_optimization.py
  examples/14_custom_functionals/14_custom_functionals.py
  examples/15_custom_functionals_spin/15_custom_functionals_spin.py
  examples/16_fod_optimization/16_fod_optimization.py
  examples/17_reduced_density_gradient/17_reduced_density_gradient.py
  examples/18_k_points/18_k_points.py
  pyproject.toml
Due: coverage, lint, typecheck, pages, pages:dev

ci: Activate Python 3.13 tests
  .gitlab-ci.yml
Due: none

Indicate Python 3.13 support
  CHANGELOG.rst
  pyproject.toml
Due: none

examples: Use specific mypy error codes
  CHANGELOG.rst
  docs/examples_builder.py
  examples/13_geometry_optimization/13_geometry_optimization.py
  examples/14_custom_functionals/14_custom_functionals.py
  examples/15_custom_functionals_spin/15_custom_functionals_spin.py
  examples/16_fod_optimization/16_fod_optimization.py
  examples/17_reduced_density_gradient/17_reduced_density_gradient.py
  examples/18_k_points/18_k_points.py
  pyproject.toml
Due: coverage, lint, typecheck, pages, pages:dev

pypi: Add typing typed classifier
  pyproject.toml
Due: none

extras/viewer: Use quantity as a name if plot_n is not a bool
  eminus/extras/viewer.py
Due: coverage, lint, minimal, newest, typecheck

docs: Add ensemble paper
  docs/citation.rst
Due: coverage, pages, pages:dev

extras/viewer: Make ruff happy
  eminus/extras/viewer.py
Due: coverage, lint, minimal, newest, typecheck

Fix some typos found by codespell
  eminus/extras/torch.py
  tests/test_domains.py
  tests/test_io.py
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck

ruff: Fix T201 in the main project
  eminus/config.py
  eminus/version.py
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

ruff: Check for INP001 in the main folder
  pyproject.toml
Due: none

io/cube: Fix potentially uninitialized variable
  eminus/io/cube.py
Due: coverage, lint, minimal, newest, typecheck

Add cff and zenodo citation files, needs more work before the new release
  .zenodo.json
  CITATION.cff
Due: none

Path conditions:
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  lint: any of: *.py, **/*.py
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  typecheck: any of: *.py, **/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
