Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, lint, minimal, newest, typecheck, pages, pages:dev

coverage:
  stage: test
  script:
  - pip install -e .
  - pip install coverage pyscf pytest pytest-cov
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage html --precision=2
  - coverage xml
  ...

lint:
  stage: test
  script:
  - pip install ruff
  - ruff check

minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  image: python:3.7-slim
  before_script:
  - pip install numpy==1.17 scipy==1.6

newest:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"

typecheck:
  stage: test
  script:
  - pip install mypy
  - mypy .

pages:
  stage: deploy
  needs:
  - coverage
  script:
  - pip install -e .
  - pip install sphinx furo sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - pip install notebook
  ...

pages:dev:
  stage: deploy
  needs: []
  script:
  - pip install -e .
  - pip install sphinx furo sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - pip install notebook
  ...

ci: Disable macos test for now
  .gitlab-ci.yml
Due: none

ruff: Remove target-version, as it is infered from the config
  pyproject.toml
Due: none

PyPI upload test
  .gitlab-ci.yml
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Revert "PyPI upload test"
  .gitlab-ci.yml
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

docker: Update to python 3.12
  CHANGELOG.rst
  Dockerfile
Due: none

nix: Flake update
  flake.lock
Due: none

toml: Remove homepage in preparation of verified links
  pyproject.toml
Due: none

typing: Use type over TypeAlias
  eminus/typing.pyi
Due: none

Typing improvements
  pyproject.toml
  tests/examples/test_notebooks.py
  tests/extras/test_torch.py
  tests/extras/test_viewer.py
  tests/test_gga.py
  tests/test_gth.py
  tests/test_operators.py
  tests/test_scf.py
Due: coverage, lint, minimal, newest, typecheck

tests: Fix type check
  tests/test_gth.py
Due: coverage, lint, minimal, newest, typecheck

Revert "typing: Use type over TypeAlias"
  eminus/typing.pyi
Due: none

More typing improvements
  .gitlab-ci.yml
  eminus/extras/torch.pyi
  eminus/gga.pyi
  eminus/localizer.pyi
  eminus/operators.pyi
  eminus/tools.pyi
  eminus/utils.pyi
  pyproject.toml
  tests/examples/test_notebooks.py
  tests/extras/test_viewer.py
Due: coverage, lint, minimal, newest, typecheck

tests: Remove one type annotation
  tests/test_gth.py
Due: coverage, lint, minimal, newest, typecheck

ruff: Remove two isort settings
  eminus/scf.py
  examples/14_custom_functionals/14_custom_functionals.py
  pyproject.toml
  tests/dft_calculations/test_bulk.py
  tests/dft_calculations/test_charged_systems.py
  tests/dft_calculations/test_custom_k.py
  tests/dft_calculations/test_polarized_pbe.py
  tests/dft_calculations/test_polarized_vwn.py
  tests/dft_calculations/test_scan.py
  tests/dft_calculations/test_smearing_polarized.py
  tests/dft_calculations/test_smearing_unpolarized.py
  tests/dft_calculations/test_spined_systems.py
  tests/dft_calculations/test_unpolarized_pbe.py
  tests/dft_calculations/test_unpolarized_vwn.py
  tests/extras/test_dispersion.py
  tests/extras/test_fods.py
  tests/extras/test_libxc.py
  tests/extras/test_symmetry.py
  tests/extras/test_torch.py
  tests/test_atoms.py
  tests/test_band_minimizer.py
  tests/test_data.py
  tests/test_dft.py
  tests/test_domains.py
  tests/test_energies.py
  tests/test_gga.py
  tests/test_io.py
  tests/test_kpoints.py
  tests/test_localizer.py
  tests/test_minimizer.py
  tests/test_occupations.py
  tests/test_operators.py
  tests/test_orbitals.py
  tests/test_scf.py
  tests/test_tools.py
  tests/test_utils.py
  tests/test_xc.py
  tests/test_xc_utils.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

ruff: Remove redundant extend-include
  pyproject.toml
Due: none

tests: Add erroneously missing viewer notebook tests + mark as slow
  tests/examples/test_notebooks.py
  tests/extras/test_viewer.py
Due: coverage, lint, minimal, newest, typecheck

docs: Add missing type hints
  docs/conf.py
Due: coverage, lint, typecheck, pages, pages:dev

typing: Small logger fixes
  eminus/config.pyi
  eminus/logger.pyi
Due: none

psp: Make updater work with latest python versions
  eminus/psp/pade/__init__.py
  eminus/psp/pbe/__init__.py
Due: coverage, lint, minimal, newest, typecheck

ci: Python 3.13 got released
  .gitlab-ci.yml
Due: none

gitignore: Add direnv managed environments
  .gitignore
Due: none

extras: Add hdf5
  CHANGELOG.rst
  docs/license.rst
  docs/modules.rst
  eminus/extras/README.md
  eminus/extras/__init__.py
  eminus/extras/__init__.pyi
  eminus/extras/hdf5.py
  eminus/extras/hdf5.pyi
  eminus/io/__init__.py
  eminus/io/json.py
  eminus/version.py
  pyproject.toml
  tests/extras/test_hdf5.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

hdf5: Skip tests, conditionally, add lower version bound
  pyproject.toml
  tests/extras/test_hdf5.py
Due: coverage, lint, minimal, newest, typecheck

docs: Simplify copyright string
  docs/conf.py
Due: coverage, lint, typecheck, pages, pages:dev

Reapply "typing: Use type over TypeAlias"
  eminus/typing.pyi
Due: none

Add type ignores
  tests/examples/test_notebooks.py
  tests/extras/test_viewer.py
Due: coverage, lint, minimal, newest, typecheck

ci: mypy: Ignore unused ignores
  .gitlab-ci.yml
Due: none

ci: Update base image to 3.13
  .gitlab-ci.yml
  CHANGELOG.rst
Due: none

ci: Fix Docker failure
  .gitlab-ci.yml
Due: none

nix: Remove matplotlib backend declaration
  flake.nix
Due: none

nix: flake update
  flake.lock
Due: none

mypy: Target 3.13
  pyproject.toml
Due: none

docker: Add a branch build argument, test dev version in ci
  .gitlab-ci.yml
  Dockerfile
Due: none

ci: Pass the commit branch to the docker test
  .gitlab-ci.yml
Due: none

extras/viewer: Reduce default surfaces from 20 to 10
  eminus/extras/viewer.py
Due: coverage, lint, minimal, newest, typecheck

examples: Simplify plotting
  examples/17_reduced_density_gradient/17_reduced_density_gradient.py
  examples/eminus.mplstyle
Due: coverage, lint, typecheck, pages, pages:dev

scf: Add a Libxc citation prompt
  eminus/scf.py
Due: coverage, lint, minimal, newest, typecheck

Path conditions:
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  lint: any of: *.py, **/*.py
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  typecheck: any of: *.py, **/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
