Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, lint, minimal, newest, typecheck, pages, pages:dev

coverage:
  stage: test
  script:
  - uv pip install .
  - uv pip install coverage pyscf pytest
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage html --precision=2
  - coverage xml
  coverage: /TOTAL.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  ...

lint:
  image: ghcr.io/astral-sh/ruff:alpine
  stage: test
  script:
  - ruff check

minimal:
  stage: test
  script:
  - uv pip install . --resolution lowest
  - uv pip install pytest
  - pytest tests/ -m "not slow"
  image: ghcr.io/astral-sh/uv:python3.8-bookworm-slim

newest:
  stage: test
  script:
  - uv pip install .
  - uv pip install pytest
  - pytest tests/ -m "not slow"

typecheck:
  image: ghcr.io/astral-sh/uv:python3.13-alpine
  stage: test
  script:
  - uv pip install -e .
  - uv pip install mypy[faster-cache]
  - mypy . --disable-error-code="import-not-found" --disable-error-code="unused-ignore"
  ...

pages:
  stage: build
  needs:
  - coverage
  script:
  - uv pip install .
  - uv pip install furo notebook sphinx sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  ...

pages:dev:
  stage: build
  needs: []
  script:
  - uv pip install .
  - uv pip install furo notebook sphinx sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  ...

xc: Make calculation of h more general
  eminus/xc/lda_xc_gdsmfb.py
  eminus/xc/lda_xc_gdsmfb.pyi
  eminus/xc/lda_xc_ksdt.py
  eminus/xc/lda_xc_ksdt.pyi
Due: coverage, lint, minimal, newest, typecheck

Fix a typo
  eminus/xc/lda_xc_gdsmfb.py
Due: coverage, lint, minimal, newest, typecheck

Add CORRKSDT implementation
  CHANGELOG.rst
  docs/modules.rst
  eminus/xc/README.md
  eminus/xc/lda_xc_corr_ksdt.py
  eminus/xc/lda_xc_corr_ksdt.pyi
  eminus/xc/lda_xc_ksdt.py
  eminus/xc/utils.py
  tests/test_xc.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Move thermal XC implementation from gdsmfb to ksdt
  eminus/xc/lda_xc_corr_ksdt.py
  eminus/xc/lda_xc_corr_ksdt.pyi
  eminus/xc/lda_xc_gdsmfb.py
  eminus/xc/lda_xc_gdsmfb.pyi
  eminus/xc/lda_xc_ksdt.py
  eminus/xc/lda_xc_ksdt.pyi
  tests/test_xc_gdsmfb.py
Due: coverage, lint, minimal, newest, typecheck

ksdt: Small cleanup
  eminus/xc/lda_xc_corr_ksdt.py
  eminus/xc/lda_xc_gdsmfb.py
Due: coverage, lint, minimal, newest, typecheck

Update changelog
  CHANGELOG.rst
Due: none

Update dev version bounds and update documentation
  docs/further.rst
  docs/license.rst
  pyproject.toml
Due: coverage, pages, pages:dev

Undynamic versioning
  .gitlab-ci.yml
  eminus/version.py
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

kpoints: Add extra checks and loggings
  eminus/kpoints.py
  pyproject.toml
  tests/test_kpoints.py
Due: coverage, lint, minimal, newest, typecheck

atoms: Allow recentering unbuilt objects
  CHANGELOG.rst
  eminus/atoms.py
  tests/test_atoms.py
Due: coverage, lint, minimal, newest, typecheck

Remove conergae section from pyproject.toml
  .gitlab-ci.yml
  eminus/psp/pade/__init__.py
  eminus/psp/pbe/__init__.py
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck

Fix TID252: Use absolute over relative imports
  eminus/extras/dispersion.py
  eminus/extras/dispersion.pyi
  eminus/extras/fods.py
  eminus/extras/fods.pyi
  eminus/extras/hdf5.py
  eminus/extras/jax.py
  eminus/extras/jax.pyi
  eminus/extras/libxc.py
  eminus/extras/torch.py
  eminus/extras/torch.pyi
  eminus/extras/viewer.py
  eminus/extras/viewer.pyi
  eminus/io/__init__.py
  eminus/io/cube.py
  eminus/io/cube.pyi
  eminus/io/gth.py
  eminus/io/pdb.py
  eminus/io/pdb.pyi
  eminus/io/poscar.py
  eminus/io/poscar.pyi
  eminus/io/traj.py
  eminus/io/traj.pyi
  eminus/io/xyz.py
  eminus/io/xyz.pyi
  eminus/xc/utils.py
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck

tests: Remove unused imports
  tests/extras/test_hdf5.py
Due: coverage, lint, minimal, newest, typecheck

Fix and improve nix build
  .gitlab-ci.yml
  CHANGELOG.rst
  docs/installation.rst
  flake.lock
  flake.nix
Due: coverage, pages, pages:dev

TYP: Use typing.Self
  eminus/atoms.pyi
  eminus/kpoints.pyi
  eminus/occupations.pyi
  eminus/scf.pyi
Due: none

TYP: Fix KPoints.kmesh hints
  eminus/kpoints.pyi
Due: none

Update changelog (again)
  CHANGELOG.rst
Due: none

docs: Allow multiple images in one line, silence some type checkers
  docs/examples_builder.py
Due: coverage, lint, typecheck, pages, pages:dev

tests: Small typing improvements
  tests/test_dft.py
Due: coverage, lint, minimal, newest, typecheck

psp: Remove updater snippets
  eminus/psp/pade/__init__.py
  eminus/psp/pbe/__init__.py
Due: coverage, lint, minimal, newest, typecheck

Fix saving unbuilt Atoms objects
  CHANGELOG.rst
  eminus/atoms.py
  eminus/gth.py
  eminus/io/json.py
  tests/extras/test_hdf5.py
  tests/test_io.py
Due: coverage, lint, minimal, newest, typecheck

atoms: Fix clearing of Gk2 and Gk2c
  CHANGELOG.rst
  eminus/atoms.py
Due: coverage, lint, minimal, newest, typecheck

extras: dispersion -> d3, viewer -> gui
  CHANGELOG.rst
  docs/modules.rst
  eminus/energies.py
  eminus/extras/README.md
  eminus/extras/__init__.py
  eminus/extras/__init__.pyi
  eminus/extras/d3.py
  eminus/extras/d3.pyi
  eminus/extras/gui.py
  eminus/extras/gui.pyi
  examples/04_dft_calculations/04_dft_calculations.py
  examples/11_germanium_solid/11_germanium_solid.py
  flake.nix
  pyproject.toml
  tests/extras/test_d3.py
  tests/extras/test_gui.py
  tests/extras/test_view_file.ipynb
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

CoM and Atoms typing improvements
  eminus/atoms.pyi
  eminus/tools.py
  eminus/tools.pyi
  tests/extras/test_jax.py
  tests/extras/test_torch.py
  tests/test_atoms.py
  tests/test_domains.py
  tests/test_operators.py
Due: coverage, lint, minimal, newest, typecheck

Add changelog entry
  CHANGELOG.rst
Due: none

xc/ksdt: Add dataclass entries for Coefficients
  eminus/xc/lda_xc_ksdt.py
  eminus/xc/lda_xc_ksdt.pyi
Due: coverage, lint, minimal, newest, typecheck

toml: Add strict opts, as encouraged by repo-review
  pyproject.toml
Due: none

io/poscar: Nit
  eminus/io/poscar.py
Due: coverage, lint, minimal, newest, typecheck

Reformat
  eminus/extras/gui.py
  eminus/extras/libxc.py
  eminus/scf.py
  tests/test_kpoints.py
  tests/test_localizer.py
  tests/test_occupations.py
  tests/test_xc.py
  tests/test_xc_gdsmfb.py
Due: coverage, lint, minimal, newest, typecheck

ci: Simplify two commands
  .gitlab-ci.yml
Due: none

docker: Fix dependency group installation, simplify torch installation
  Dockerfile
Due: none

extras/gui: Fix Pathlib.glob for Python 3.13+
  eminus/extras/gui.py
Due: coverage, lint, minimal, newest, typecheck

Bump mypy to 1.16
  docs/conf.py
  eminus/scf.pyi
  pyproject.toml
  tests/test_scf.py
  tests/test_tools.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Path conditions:
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  lint: any of: *.py, **/*.py
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  typecheck: any of: *.py, **/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
