Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, lint, minimal, newest, typecheck, pages, pages:dev

coverage:
  stage: test
  script:
  - uv pip install .
  - uv pip install coverage pyscf pytest
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --include=eminus/* --omit=eminus/extras/* --precision=2
  ...

lint:
  image: ghcr.io/astral-sh/ruff:alpine
  stage: test
  script:
  - ruff check

minimal:
  stage: test
  script:
  - uv pip install . --resolution lowest
  - uv pip install pytest
  - pytest tests/ -m "not slow"
  image: ghcr.io/astral-sh/uv:python3.9-bookworm-slim

newest:
  stage: test
  script:
  - uv pip install .
  - uv pip install pytest
  - pytest tests/ -m "not slow"

typecheck:
  image: ghcr.io/astral-sh/uv:python3.13-alpine
  stage: test
  script:
  - uv pip install -e .
  - uv pip install mypy[faster-cache]
  - mypy . --disable-error-code="import-not-found" --disable-error-code="unused-ignore"
  ...

pages:
  stage: build
  needs:
  - coverage
  script:
  - uv pip install .
  - uv pip install furo notebook sphinx sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  ...

pages:dev:
  stage: build
  needs: []
  script:
  - uv pip install .
  - uv pip install furo notebook sphinx sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  ...

More np conversion
  eminus/backend.py
  eminus/extras/d3.py
  eminus/extras/fods.py
Due: coverage, lint, minimal, newest, typecheck

extras np conversion fixes
  eminus/extras/gui.py
  eminus/extras/hdf5.py
  tests/extras/test_fods.py
Due: coverage, lint, minimal, newest, typecheck

One more
  tests/extras/test_fods.py
Due: coverage, lint, minimal, newest, typecheck

One more try
  tests/extras/test_fods.py
Due: coverage, lint, minimal, newest, typecheck

Full GPU support
  CHANGELOG.rst
  docs/backend.rst
  eminus/backend.py
  eminus/backend.pyi
  eminus/config.py
  eminus/energies.py
  eminus/extras/d3.py
  eminus/extras/hdf5.py
  eminus/io/json.py
  eminus/localizer.py
  examples/14_custom_functionals/14_custom_functionals.py
  examples/16_fod_optimization/16_fod_optimization.py
  examples/17_reduced_density_gradient/17_reduced_density_gradient.py
  tests/extras/test_d3.py
  tests/extras/test_hdf5.py
  tests/test_atoms.py
  tests/test_backend.py
  tests/test_energies.py
  tests/test_io.py
  tests/test_operators.py
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Fix PLC2801
  eminus/backend.py
Due: coverage, lint, minimal, newest, typecheck

backend: Fix to_np stubs
  eminus/backend.py
  eminus/backend.pyi
Due: coverage, lint, minimal, newest, typecheck

Remove one comment
  eminus/xc/utils.py
Due: coverage, lint, minimal, newest, typecheck

backend: Rmove one unnecessary conversion
  eminus/backend.py
Due: coverage, lint, minimal, newest, typecheck

operators: Simplify and speed up
  eminus/operators.py
  eminus/operators.pyi
Due: coverage, lint, minimal, newest, typecheck

config: Do not use Torch device context manager on CPU only devices
  eminus/config.py
Due: coverage, lint, minimal, newest, typecheck

backend/delete: Fix a new torch deprecation warning
  eminus/backend.py
Due: coverage, lint, minimal, newest, typecheck

Update bookworm to trixie
  .gitlab-ci.yml
  Dockerfile
Due: none

units: Update to CODATA2022 values
  CHANGELOG.rst
  eminus/units.py
Due: coverage, lint, minimal, newest, typecheck

tests/test_tools: Make tests lesss flaky
  tests/test_tools.py
Due: coverage, lint, minimal, newest, typecheck

Update Python version in Nix to 3.13
  CHANGELOG.rst
  flake.lock
  flake.nix
Due: none

Use a custom pytest backend option instead of the old hacky solution
  CHANGELOG.rst
  docs/backend.rst
  tests/conftest.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

extras/hdf5: Fix scalar type conversion in hdf5 parser
  eminus/extras/hdf5.py
Due: coverage, lint, minimal, newest, typecheck

tests: Increase timeout for notebook tests
  tests/examples/test_notebooks.py
  tests/extras/test_gui.py
Due: coverage, lint, minimal, newest, typecheck

Indicate Python 3.14 support, add free threading classifier, update some CI images
  .gitlab-ci.yml
  CHANGELOG.rst
  pyproject.toml
Due: pages

operators: Fix docstring args
  eminus/operators.py
Due: coverage, lint, minimal, newest, typecheck

version: Calculate indentation based on the dependency lengths
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck

docs: Change headings font to Comfortaa
  docs/conf.py
Due: coverage, lint, typecheck, pages, pages:dev

Revert "version: Calculate indentation based on the dependency lengths"
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck

Small cleanups
  eminus/kpoints.py
  eminus/localizer.py
  eminus/operators.py
  examples/10_domain_generation/10_domain_generation.ipynb
  tests/README.md
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Coverage improvements
  eminus/config.py
  eminus/operators.py
  tests/test_scf.py
Due: coverage, lint, minimal, newest, typecheck

docs: Improve backend documentation
  docs/backend.rst
Due: coverage, pages, pages:dev

tests: A small typing fix
  tests/test_backend.py
Due: coverage, lint, minimal, newest, typecheck

Update changelog
  CHANGELOG.rst
Due: none

version: Release v3.2.0
  CHANGELOG.rst
  CITATION.cff
  pyproject.toml
Due: pages

ci: Remove prerelease from pypi-attestations pipeline
  .gitlab-ci.yml
Due: none

version: Remove dependency not installed case
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck

toml: Fix torch extra description
  pyproject.toml
Due: pages

Remove some unnecessary brackets
  eminus/atoms.py
  eminus/kpoints.py
  eminus/operators.py
  tests/test_backend.py
Due: coverage, lint, minimal, newest, typecheck

nix: Set JUPYTER_PLATFORM_DIRS=1 in dev shells
  flake.nix
Due: none

toml: Add some options to satisfy scientific pythons repo review
  pyproject.toml
  tests/test_atoms.py
Due: coverage, lint, minimal, newest, typecheck, pages

TYP: Fix some errors found by pyright
  eminus/backend.pyi
  eminus/extras/fods.py
  eminus/xc/utils.py
  tests/test_xc_utils.py
Due: coverage, lint, minimal, newest, typecheck

xc: Make dn_spin non-optional for GGAs
  eminus/xc/gga_c_chachiyo.py
  eminus/xc/gga_c_chachiyo.pyi
  eminus/xc/gga_c_pbe.py
  eminus/xc/gga_c_pbe.pyi
  eminus/xc/gga_x_chachiyo.py
  eminus/xc/gga_x_chachiyo.pyi
  eminus/xc/gga_x_pbe.py
  eminus/xc/gga_x_pbe.pyi
Due: coverage, lint, minimal, newest, typecheck

nit: Fix type ordering in pyi
  eminus/backend.pyi
Due: lint, typecheck

Path conditions:
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  lint: any of: *.py, *.pyi, **/*.py, **/*.pyi
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  typecheck: any of: *.py, *.pyi, **/*.py, **/*.pyi
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, pyproject.toml
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*
