Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

coverage:
  stage: test
  script:
  - pip install .
  - pip install coverage pyscf pytest
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage html --precision=2
  - coverage xml
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  ...

lint:
  stage: test
  script:
  - pip install ruff
  - ruff check

minimal:
  stage: test
  script:
  - python3 -m pip install .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  image: python:3.7-slim
  before_script:
  - pip install numpy==1.17 scipy==1.6

newest:
  stage: test
  script:
  - python3 -m pip install .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"

typecheck:
  stage: test
  script:
  - pip install mypy numpy
  - mypy . --disable-error-code="import-not-found" --disable-error-code="unused-ignore"

docker:
  stage: fulltest
  script:
  - VERSION=$(sed -n 's/^__version__ = "\(.*\)"/\1/p' eminus/version.py)
  - docker build -t wangenau/eminus:"${VERSION}" --build-arg BRANCH=$CI_COMMIT_BRANCH .
  ...

installation:
  stage: fulltest
  script:
  - pip install --upgrade pip
  - pip install build twine
  - python -m build
  - twine check dist/*
  - cp -r dist/ tmp/
  - cd tmp/
  - tar -xf eminus-*.tar.gz
  - pip install eminus-*/.
  - python -c "import eminus; eminus.demo()"
  - pip uninstall eminus -y
  - pip install eminus-*.whl
  ...

platform:linux:
  stage: fulltest
  script:
  - python3 -m pip install .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  allow_failure: false
  image: ubuntu:latest
  before_script:
  - apt-get update -y
  - apt-get install python3 python3-pip python3-venv -y --no-install-recommends
  ...

platform:nixos:
  stage: fulltest
  script:
  - nix --extra-experimental-features "nix-command flakes" develop -c pytest tests/ -m "not slow"
  when: manual
  allow_failure: false
  image: nixpkgs/nix:latest

platform:windows:
  stage: fulltest
  script:
  - python3 -m pip install .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  allow_failure: false
  tags:
  - saas-windows-medium-amd64
  before_script:
  - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
  ...

python:
  stage: fulltest
  script:
  - python3 -m pip install .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  when: manual
  allow_failure: false
  image: python:$PYTHON_VERSIONS-slim
  parallel:
    matrix:
    - PYTHON_VERSIONS:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
      - '3.12'

pages:
  stage: deploy
  needs:
  - coverage
  script:
  - pip install .
  - pip install furo notebook sphinx sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  ...

Rename solve_poisson to get_phi
  eminus/dft.py
  eminus/dft.pyi
  eminus/energies.py
  eminus/scf.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

examples: Add a note about custom xc parameters
  examples/17_reduced_density_gradient/17_reduced_density_gradient.py
Due: coverage, lint, typecheck, pages, pages:dev

docs: Move changelog below citations
  docs/index.rst
Due: coverage, pages, pages:dev

Update changelog
  CHANGELOG.rst
Due: none

toml: Update minimum versions
  docs/further.rst
  pyproject.toml
Due: coverage, pages, pages:dev

Change eminus' description and keywords
  README.md
  docs/index.rst
  docs/overview.rst
  eminus/__init__.py
  flake.nix
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

Update zenodo.json
  .zenodo.json
Due: none

io/xyz: Merge strings
  eminus/io/xyz.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

docs: Add the graphical abstract to the overview page
  docs/_static/overview/graphical_abstract.webp
  docs/overview.rst
Due: coverage, pages, pages:dev

Add citation information
  .zenodo.json
  CHANGELOG.rst
  CITATION.cff
  README.md
  docs/citation.rst
  eminus/__init__.py
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

ci: Speed up ci
  .gitlab-ci.yml
Due: none

version: Release v3.0.0
  CHANGELOG.rst
  CITATION.cff
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python, pages, pages:dev

Make installation test more robust
  .gitlab-ci.yml
  eminus/__init__.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

toml: Properly include psp files
  pyproject.toml
Due: none

ci: Add all stages to tag pipeline
  .gitlab-ci.yml
Due: none

toml: Actually fix psp file inclusion
  pyproject.toml
Due: none

ci: Fall back to main branch on tag runs
  .gitlab-ci.yml
Due: none

Read appendix to license
  LICENSE
Due: none

ci: Docker build attestation test
  .gitlab-ci.yml
  CHANGELOG.rst
Due: none

ci: Fix the coverage badge
  .gitlab-ci.yml
Due: none

ci: Some fixes to manual CI jobs
  .gitlab-ci.yml
Due: none

ci: Allow failure of manual jobs
  .gitlab-ci.yml
  CHANGELOG.rst
Due: none

Improve hdf5 file ending recognition
  eminus/extras/hdf5.py
  eminus/io/__init__.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

Improve HDF5 loading and saving
  CHANGELOG.rst
  eminus/extras/hdf5.py
  eminus/extras/hdf5.pyi
  eminus/io/json.py
  tests/extras/test_hdf5.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

ci: Enable weeklies
  .gitlab-ci.yml
  CHANGELOG.rst
  docs/installation.rst
Due: coverage, pages, pages:dev

changelog: Add separator
  CHANGELOG.rst
Due: none

ci: Reactivate macos test
  .gitlab-ci.yml
Due: none

ci: Push without manual interactions on tags
  .gitlab-ci.yml
Due: none

ci: Create PyPI digital attestations
  .gitlab-ci.yml
  CHANGELOG.rst
Due: none

docker: Migrate from pip to pip uv, reduces build time from 156s to 68s
  Dockerfile
Due: none

ci: Migrate from pip to uv to reduce runtimes
  .gitlab-ci.yml
  CHANGELOG.rst
Due: none

docker: Upgrade base image from 3.12 to 3.13
  CHANGELOG.rst
  Dockerfile
Due: none

ci: Add nogil experiment (#48)
  .gitlab-ci.yml
Due: none

ci: Add experiments stage
  .gitlab-ci.yml
Due: none

ci: attestations nit
  .gitlab-ci.yml
Due: none

xc: More consistent variable naming
  eminus/xc/gga_c_chachiyo.py
  eminus/xc/gga_c_pbe.py
  eminus/xc/lda_c_chachiyo.py
  eminus/xc/lda_c_pw.py
  eminus/xc/lda_c_vwn.py
  eminus/xc/lda_x.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

More tpying fixes for numpy 2.2
  eminus/orbitals.pyi
  tests/test_scf.py
Due: coverage, lint, minimal, newest, typecheck, docker, installation, platform:linux, platform:nixos, platform:windows, python

ci: Fix signing and install stage, add todo entries
  .gitlab-ci.yml
Due: none

Path conditions:
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  lint: any of: *.py, **/*.py
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  typecheck: any of: *.py, **/*.py
  docker: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  installation: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:linux: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:nixos: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  platform:windows: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  python: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
