Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, lint, minimal, newest, typecheck, pages, pages:dev

coverage:
  stage: test
  script:
  - pip install -e .
  - pip install coverage pyscf pytest pytest-cov
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage html --precision=2
  - coverage xml
  ...

lint:
  stage: test
  script:
  - pip install ruff
  - ruff check

minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  image: python:3.7-slim
  before_script:
  - pip install numpy==1.17 scipy==1.6

newest:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"

typecheck:
  stage: test
  script:
  - pip install mypy
  - mypy .

pages:
  stage: deploy
  needs:
  - coverage
  script:
  - pip install -e .
  - pip install sphinx furo sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - pip install notebook
  ...

pages:dev:
  stage: deploy
  needs: []
  script:
  - pip install -e .
  - pip install sphinx furo sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - pip install notebook
  ...

tests: Add one more magnetization check
  tests/test_dft.py
Due: coverage, lint, minimal, newest, typecheck

docs: Uverwrite visited links colors
  docs/conf.py
Due: coverage, lint, typecheck, pages, pages:dev

atoms: Fix hexagonal grid generation
  CHANGELOG.rst
  eminus/atoms.py
Due: coverage, lint, minimal, newest, typecheck

localizer: Account for possible different lattice coordinates
  eminus/localizer.py
Due: coverage, lint, minimal, newest, typecheck

cell: Allow 1d basis inputs
  eminus/cell.py
  eminus/cell.pyi
Due: coverage, lint, minimal, newest, typecheck

viewer: Reduce the maximium size of the interpolation grid size
  eminus/extras/viewer.py
Due: coverage, lint, minimal, newest, typecheck

ci: Readd torch removal from nix test
  .gitlab-ci.yml
Due: none

Add a venv note to installation, fix debian image
  .gitlab-ci.yml
  docs/installation.rst
Due: coverage, pages, pages:dev

ci: Install venv on debian
  .gitlab-ci.yml
Due: none

ci: Try to fix the windows test
  .gitlab-ci.yml
Due: none

nix: flake update + comment out torch
  .gitlab-ci.yml
  flake.lock
  flake.nix
Due: none

tests: Make magnetization more lax
  tests/test_dft.py
Due: coverage, lint, minimal, newest, typecheck

Update GTH parameters
  CHANGELOG.rst
  eminus/psp/pade/Na-q9
  eminus/psp/pbe/Na-q9
  eminus/psp/pbe/U-q14_old
  tests/B-q3
  tests/test_gth.py
Due: coverage, lint, minimal, newest, typecheck

tests: typo
  tests/extras/test_dispersion.py
Due: coverage, lint, minimal, newest, typecheck

Initial Jax operator bringup
  eminus/config.py
  eminus/extras/__init__.py
  eminus/extras/jax.py
  eminus/operators.py
  eminus/utils.py
Due: coverage, lint, minimal, newest, typecheck

Some jax housekeeping
  CHANGELOG.rst
  Dockerfile
  docs/license.rst
  docs/modules.rst
  eminus/extras/README.md
  eminus/version.py
  flake.nix
  setup.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Update typehints
  eminus/config.pyi
  eminus/extras/__init__.pyi
  eminus/extras/jax.pyi
  eminus/utils.pyi
Due: none

Fix tests
  tests/extras/test_torch.py
  tests/test_config.py
  tests/test_operators.py
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck

config: Fix Jax precision
  eminus/config.py
Due: coverage, lint, minimal, newest, typecheck

setup: Set a minimum jex version
  setup.py
Due: coverage, lint, typecheck

tests: Add jax tests
  tests/extras/test_jax.py
Due: coverage, lint, minimal, newest, typecheck

Jax nits
  eminus/config.py
  eminus/utils.py
Due: coverage, lint, minimal, newest, typecheck

tests: Remove slow mark from bulk test
  tests/dft_calculations/test_bulk.py
Due: coverage, lint, minimal, newest, typecheck

docker: Fix FromAsCasing
  Dockerfile
Due: none

units: Use math over numpy
  eminus/units.py
Due: coverage, lint, minimal, newest, typecheck

Move PLR0911 out of configuration, add ISC
  eminus/gth.py
  eminus/io/json.py
  eminus/utils.py
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck

ruff: ignore over select, fix some lint issues
  eminus/config.py
  eminus/extras/libxc.py
  eminus/utils.py
  examples/14_custom_functionals/14_custom_functionals.py
  pyproject.toml
  tests/examples/test_scripts.py
  tests/test_io.py
  tests/test_orbitals.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

ruff: Activate most pep8-naming rules
  eminus/extras/viewer.py
  eminus/gth.pyi
  eminus/units.py
  eminus/units.pyi
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck

ruff: Remove Q003 from ignore list
  pyproject.toml
Due: none

Revert "ruff: Remove Q003 from ignore list"
  pyproject.toml
Due: none

ruff: Fix some arg violations
  docs/conf.py
  docs/examples_builder.py
  pyproject.toml
  tests/examples/test_scripts.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

ruff: Fix some em violations
  eminus/atoms.py
  eminus/gth.py
  eminus/io/__init__.py
  eminus/kpoints.py
  eminus/logger.py
  eminus/minimizer.py
  eminus/scf.py
  eminus/utils.py
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck

ruff: Ignore ARG001 in tests
  pyproject.toml
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck

Fix example 14
  examples/14_custom_functionals/14_custom_functionals.py
Due: coverage, lint, typecheck, pages, pages:dev

Migrate from setup.py to pyproject.toml
  MANIFEST.in
  pyproject.toml
  setup.py
Due: coverage, lint, typecheck

Clarify signs
  README.md
  docs/index.rst
Due: coverage, pages, pages:dev

Path conditions:
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  lint: any of: *.py, **/*.py
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  typecheck: any of: *.py, **/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
