Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Path conditions:
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  lint: any of: *.py, *.pyi, **/*.py, **/*.pyi
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  typecheck: any of: *.py, *.pyi, **/*.py, **/*.pyi
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, pyproject.toml
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*

pytest: log_cli_level -> log_level
  pyproject.toml
Due: pages

ci: Test python 3.14
  .gitlab-ci.yml
Due: none

Update changelog
  CHANGELOG.rst
Due: none

gga: Fix mgga evaluation when using torch with opt-einsum
  eminus/gga.py
Due: coverage, lint, minimal, newest, typecheck

TYP: Fix operator signature in atoms
  .gitlab-ci.yml
  eminus/atoms.pyi
Due: lint, typecheck

TYP: Improve type hinting when operators are used
  .gitlab-ci.yml
  eminus/dft.pyi
  eminus/energies.pyi
  eminus/gga.pyi
  eminus/localizer.pyi
  eminus/operators.pyi
  eminus/utils.pyi
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck

TYP: Fix remaining stubtest issues
  .gitlab-ci.yml
  eminus/atoms.pyi
  eminus/utils.pyi
Due: lint, typecheck

Update changelog again
  CHANGELOG.rst
Due: none

version: Release v3.2.1
  CHANGELOG.rst
  CITATION.cff
  pyproject.toml
Due: pages

Fix failing tests (and move tag)
  pyproject.toml
  tests/examples/test_scripts.py
Due: coverage, lint, minimal, newest, typecheck, pages

ci: Use uv for uploading to pypi
  .gitlab-ci.yml
Due: none

io/cube: Fix RUF052
  eminus/io/cube.py
Due: coverage, lint, minimal, newest, typecheck

tests: Fix mypy error with scipy and scipy-stubs 1.17 installed
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck

TYP: Add annotations for private members
  CHANGELOG.rst
  eminus/atoms.pyi
  eminus/extras/gui.pyi
  eminus/io/json.pyi
  eminus/kpoints.pyi
  eminus/occupations.py
  eminus/occupations.pyi
  eminus/scf.pyi
  eminus/xc/lda_xc_gdsmfb.py
  eminus/xc/lda_xc_gdsmfb.pyi
  eminus/xc/lda_xc_ksdt.pyi
  tests/test_xc_gdsmfb.py
Due: coverage, lint, minimal, newest, typecheck

backend/to_np: Add None case
  eminus/backend.py
  eminus/backend.pyi
Due: coverage, lint, minimal, newest, typecheck

atoms: Small nit by pyright
  eminus/atoms.py
Due: coverage, lint, minimal, newest, typecheck

Some misc formatting
  CONTRIBUTING.md
  examples/README.md
  pyproject.toml
Due: pages, pages:dev

eminus/xc/lda_xc_ksdt: Narrow phi_params type
  eminus/xc/lda_xc_ksdt.pyi
Due: lint, typecheck

extras/gui: Use slash in plots
  eminus/extras/gui.py
Due: coverage, lint, minimal, newest, typecheck

nix: Update flake and annd pylibxc
  CHANGELOG.rst
  flake.lock
  flake.nix
Due: none

TYP: Fix and tighten IMPLEMENTED types
  eminus/band_minimizer.pyi
  eminus/minimizer.pyi
  eminus/potentials.pyi
Due: lint, typecheck

TYP: xc/ksdt: Try to tighten the types a bit
  eminus/xc/lda_xc_ksdt.pyi
Due: lint, typecheck

TYP: Remove obsolete mypy ignores and manual annotations
  tests/extras/test_libxc.py
  tests/test_backend.py
  tests/test_operators.py
  tests/test_testing.py
  tests/test_xc.py
Due: coverage, lint, minimal, newest, typecheck

Fix RUF069, update changelog
  CHANGELOG.rst
  tests/test_gth.py
Due: coverage, lint, minimal, newest, typecheck

toml: Simplify install all
  pyproject.toml
Due: pages

extras/fods: Fix ResourceWarning under Python 3.14
  eminus/extras/fods.py
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck, pages

tests/utils: Small clarity fix for the Ylm test
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck

toml: Add opt-einsum to the torch installation by default
  pyproject.toml
Due: pages

TYP: Fix test_tils
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck

dft: Small change to fix an error in some type checkers
  eminus/dft.py
Due: coverage, lint, minimal, newest, typecheck

Clean up some test, thank to the new typing
  tests/dft_calculations/test_band_structure.py
  tests/test_band_minimizer.py
  tests/test_energies.py
  tests/test_operators.py
  tests/test_scf.py
  tests/test_tools.py
  tests/test_xc.py
Due: coverage, lint, minimal, newest, typecheck

atoms: Allow empty unit cells
  CHANGELOG.rst
  eminus/atoms.py
  tests/test_atoms.py
  tests/test_scf.py
Due: coverage, lint, minimal, newest, typecheck

version: Replace __package__ with __spec__.parent
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck

Update Docker to Python 3.14 and fix GPM under it
  CHANGELOG.rst
  Dockerfile
  eminus/extras/fods.py
Due: coverage, lint, minimal, newest, typecheck

examples: Add var-annotated ignore code
  examples/13_geometry_optimization/13_geometry_optimization.py
Due: coverage, lint, typecheck, pages, pages:dev

Update nix dlake to 3.14
  CHANGELOG.rst
  flake.lock
  flake.nix
Due: none

tests: Fix torch backend test
  tests/test_operators.py
Due: coverage, lint, minimal, newest, typecheck

CI: Test Torch in Docker build
  .gitlab-ci.yml
Due: none

backend: Small typing fix
  eminus/backend.pyi
Due: lint, typecheck
