Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, lint, minimal, newest, typecheck, pages, pages:dev

coverage:
  stage: test
  script:
  - uv pip install .
  - uv pip install coverage pyscf pytest
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage html --precision=2
  - coverage xml
  coverage: /TOTAL.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  ...

lint:
  image: ghcr.io/astral-sh/ruff:alpine
  stage: test
  script:
  - ruff check

minimal:
  stage: test
  script:
  - uv pip install . --resolution lowest
  - uv pip install pytest
  - pytest tests/ -m "not slow"
  image: ghcr.io/astral-sh/uv:python3.8-bookworm-slim

newest:
  stage: test
  script:
  - uv pip install .
  - uv pip install pytest
  - pytest tests/ -m "not slow"

typecheck:
  image: ghcr.io/astral-sh/uv:python3.13-alpine
  stage: test
  script:
  - uv pip install -e .
  - uv pip install mypy[faster-cache]
  - mypy . --disable-error-code="import-not-found" --disable-error-code="unused-ignore"
  ...

pages:
  stage: build
  needs:
  - coverage
  script:
  - uv pip install .
  - uv pip install furo notebook sphinx sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  ...

pages:dev:
  stage: build
  needs: []
  script:
  - uv pip install .
  - uv pip install furo notebook sphinx sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  ...

potentials: Fix descriptions in doctrings
  eminus/potentials.py
Due: coverage, lint, minimal, newest, typecheck

toml: Normalize project.urls, fix ruff 0.9.6 check
  pyproject.toml
Due: none

potentials: Generalize coulomb potential
  eminus/potentials.py
Due: coverage, lint, minimal, newest, typecheck

Introduce pot_params_defaults
  eminus/potentials.py
  eminus/scf.py
Due: coverage, lint, minimal, newest, typecheck

potenrials: Add long-range coulomb potential
  eminus/potentials.py
Due: coverage, lint, minimal, newest, typecheck

scf: Add pot_params
  eminus/gth.py
  eminus/potentials.py
  eminus/scf.py
Due: coverage, lint, minimal, newest, typecheck

Add type hints
  eminus/gth.pyi
  eminus/potentials.pyi
  eminus/scf.pyi
Due: none

Add changelog and tests
  CHANGELOG.rst
  tests/test_potentials.py
  tests/test_scf.py
Due: coverage, lint, minimal, newest, typecheck

viewer: Fix aspect mode in cell viewer
  CHANGELOG.rst
  eminus/extras/viewer.py
Due: coverage, lint, minimal, newest, typecheck

atoms: Fix calculation of sampling points, also fix type hint
  CHANGELOG.rst
  eminus/atoms.py
  eminus/cell.pyi
  tests/test_cell.py
Due: coverage, lint, minimal, newest, typecheck

viewer: Fix density view for non-cubic cells
  CHANGELOG.rst
  eminus/extras/viewer.py
Due: coverage, lint, minimal, newest, typecheck

energies: Remove unnecessary computations
  eminus/energies.py
Due: coverage, lint, minimal, newest, typecheck

localizer/minimizer: Fix sign of cost function difference
  CHANGELOG.rst
  eminus/localizer.py
  eminus/minimizer.py
Due: coverage, lint, minimal, newest, typecheck

version: Sort and update extras and dev packages
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

atoms: Fix number of bands when setting Z
  CHANGELOG.rst
  eminus/atoms.py
  tests/test_atoms.py
Due: coverage, lint, minimal, newest, typecheck

atoms: Fix bands check when updating Z
  eminus/atoms.py
  tests/test_cell.py
Due: coverage, lint, minimal, newest, typecheck

Improve/remove some memory allocations
  eminus/gga.py
  eminus/gth.py
  eminus/potentials.py
  eminus/utils.py
Due: coverage, lint, minimal, newest, typecheck

scf: Add an empty callback method
  CHANGELOG.rst
  eminus/minimizer.py
  eminus/scf.py
  eminus/scf.pyi
  tests/test_scf.py
Due: coverage, lint, minimal, newest, typecheck

ci: Add jit to experiments
  .gitlab-ci.yml
Due: none

toml: Update flake8-builtins names to make them future-proof
  pyproject.toml
Due: none

Small cleanup
  eminus/extras/jax.py
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck

Typing fixes for numpy 2.2.4
  tests/extras/test_libxc.py
  tests/test_xc.py
Due: coverage, lint, minimal, newest, typecheck

version: Release v3.0.3
  CHANGELOG.rst
  CITATION.cff
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

toml: Change build backend to hatchling
  CHANGELOG.rst
  pyproject.toml
Due: none

viewer: Fix a minor typo
  eminus/extras/viewer.py
Due: coverage, lint, minimal, newest, typecheck

Add overrides
  eminus/logger.pyi
  eminus/scf.pyi
Due: none

config: Fix threads types
  eminus/config.pyi
Due: none

ci: Also lint and type check on changes in stub files
  .gitlab-ci.yml
Due: none

toml: Make dev a dependency-group
  CHANGELOG.rst
  docs/further.rst
  pyproject.toml
Due: coverage, pages, pages:dev

toml: Cleanup
  docs/conf.py
  pyproject.toml
Due: coverage, lint, typecheck, pages, pages:dev

Cleanup gitignore
  .gitignore
Due: none

PLR cleanup
  eminus/extras/viewer.py
  eminus/gth.py
  eminus/io/__init__.py
  eminus/io/json.py
  eminus/utils.py
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck

Misc improvements to issues found by pyright
  .gitlab-ci.yml
  eminus/atoms.py
  eminus/atoms.pyi
  eminus/extras/fods.py
  eminus/extras/hdf5.py
  eminus/extras/viewer.py
  eminus/extras/viewer.pyi
  eminus/io/json.py
  eminus/logger.py
Due: coverage, lint, minimal, newest, typecheck

toml: Further reduction in line size
  .gitignore
  flake.nix
  pyproject.toml
Due: none

Implement time reversal symmetry (fixes #58)
  CHANGELOG.rst
  docs/modules.rst
  eminus/extras/README.md
  eminus/extras/__init__.py
  eminus/extras/__init__.pyi
  eminus/extras/symmetry.py
  eminus/extras/symmetry.pyi
  eminus/kpoints.py
  eminus/kpoints.pyi
  flake.nix
  pyproject.toml
  tests/extras/test_symmetry.py
  tests/test_kpoints.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

trs: Also test for Nk
  tests/test_kpoints.py
Due: coverage, lint, minimal, newest, typecheck

Initial KSDT implementation
  CHANGELOG.rst
  docs/modules.rst
  eminus/xc/README.md
  eminus/xc/lda_xc_gdsmfb.py
  eminus/xc/lda_xc_ksdt.py
  eminus/xc/lda_xc_ksdt.pyi
  eminus/xc/utils.py
  tests/test_xc.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

xc: Rename _get_h to _get_g, calculate a0 explicitly
  eminus/xc/lda_xc_gdsmfb.py
  eminus/xc/lda_xc_gdsmfb.pyi
Due: coverage, lint, minimal, newest, typecheck

Path conditions:
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  lint: any of: *.py, **/*.py
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  typecheck: any of: *.py, **/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
