Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Path conditions:
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  lint: any of: *.py, *.pyi, **/*.py, **/*.pyi
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  typecheck: any of: *.py, *.pyi, **/*.py, **/*.pyi
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, pyproject.toml
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*

Update test
  tests/dft_calculations/test_smearing_polarized.py
Due: coverage, lint, minimal, newest, typecheck

Regen plots in examples
  examples/13_geometry_optimization/dissociation_energy_h2.png
  examples/14_custom_functionals/correlation_energy_error.png
  examples/15_custom_functionals_spin/correlation_energy_error_spin.png
  examples/17_reduced_density_gradient/17_reduced_density_gradient.py
  examples/17_reduced_density_gradient/density_finger.png
Due: coverage, lint, typecheck, pages, pages:dev

backend: Small typing improvement
  eminus/backend.pyi
Due: lint, typecheck

toml: Add faster cache to mypy
  pyproject.toml
Due: pages

toml: Add a dependency cooldown of 1 day to UV
  pyproject.toml
Due: pages

Fix D421
  eminus/atoms.py
  eminus/scf.py
Due: coverage, lint, minimal, newest, typecheck

Increase timeout on some notebook test
  tests/examples/test_notebooks.py
  tests/extras/test_gui.py
Due: coverage, lint, minimal, newest, typecheck

version: Release v3.2.2
  CHANGELOG.rst
  CITATION.cff
  pyproject.toml
Due: pages
