Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, lint, minimal, newest, typecheck, pages, pages:dev

coverage:
  stage: test
  script:
  - pip install -e .
  - pip install coverage pyscf pytest pytest-cov
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage html --precision=2
  - coverage xml
  ...

lint:
  stage: test
  script:
  - pip install ruff
  - ruff check

minimal:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"
  image: python:3.7-slim
  before_script:
  - pip install numpy==1.17 scipy==1.6

newest:
  stage: test
  script:
  - python3 -m pip install -e .
  - python3 -m pip install pytest
  - python3 -m pytest tests/ -m "not slow"

typecheck:
  stage: test
  script:
  - pip install mypy
  - mypy .

pages:
  stage: deploy
  needs:
  - coverage
  script:
  - pip install -e .
  - pip install sphinx furo sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - pip install notebook
  ...

pages:dev:
  stage: deploy
  needs: []
  script:
  - pip install -e .
  - pip install sphinx furo sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - pip install notebook
  ...

ci: Remove docker interactive mode
  .gitlab-ci.yml
Due: none

ci: Add a docker release pipeline
  .gitlab-ci.yml
Due: none

ci: Use latest nix image, add -test to docker tag
  .gitlab-ci.yml
Due: none

ci: Test docker publishing
  .gitlab-ci.yml
Due: none

ci: Move some when in rules, another test
  .gitlab-ci.yml
Due: none

ci: Docker test
  .gitlab-ci.yml
Due: none

ci: Final push
  .gitlab-ci.yml
Due: none

ci: Simplify sed version command
  .gitlab-ci.yml
Due: none

ci: No need for an editable installation
  .gitlab-ci.yml
Due: none

ci: Small cleanup
  .gitlab-ci.yml
Due: none

ci: Make docker test an extend
  .gitlab-ci.yml
Due: none

docs: Add formatting to docs
  docs/further.rst
Due: coverage, pages, pages:dev

scf: Make W, D, Z, n default arguments, update checks
  eminus/dft.py
  eminus/extras/viewer.py
  eminus/scf.py
  eminus/tools.py
  tests/test_band_minimizer.py
  tests/test_tools.py
Due: coverage, lint, minimal, newest, typecheck

localizer: Remove one superfluous skip_k
  eminus/localizer.py
Due: coverage, lint, minimal, newest, typecheck

Change arguments of wrapper functions to be more clear
  eminus/io/__init__.py
  eminus/xc/utils.py
Due: coverage, lint, minimal, newest, typecheck

ruff: activate combine-as-imports
  eminus/scf.py
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck

scf: Make sure all attributes get set when initializing
  eminus/extras/viewer.py
  eminus/scf.py
  eminus/tools.py
Due: coverage, lint, minimal, newest, typecheck

Add extra safety checks
  eminus/dft.py
  eminus/io/cube.py
Due: coverage, lint, minimal, newest, typecheck

Fix mypy failure in ci
  .gitlab-ci.yml
  docs/conf.py
  tests/examples/test_notebooks.py
  tests/extras/test_viewer.py
  tests/test_tools.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

tests: Fix lint
  tests/test_tools.py
Due: coverage, lint, minimal, newest, typecheck

Add argument descriptions to wrapper functions
  eminus/io/__init__.py
  eminus/xc/utils.py
Due: coverage, lint, minimal, newest, typecheck

scf: Small docstrings nits
  eminus/scf.py
Due: coverage, lint, minimal, newest, typecheck

Use collections.abc when possible, small typing improvements
  eminus/atoms.pyi
  eminus/band_minimizer.pyi
  eminus/cell.pyi
  eminus/config.pyi
  eminus/energies.pyi
  eminus/extras/fods.pyi
  eminus/extras/viewer.pyi
  eminus/gth.pyi
  eminus/io/cube.pyi
  eminus/io/pdb.pyi
  eminus/io/traj.pyi
  eminus/io/xyz.pyi
  eminus/localizer.pyi
  eminus/logger.pyi
  eminus/minimizer.pyi
  eminus/occupations.pyi
  eminus/orbitals.pyi
  eminus/potentials.pyi
  eminus/scf.pyi
  eminus/typing.pyi
  eminus/utils.pyi
  eminus/xc/lda_c_chachiyo.pyi
  eminus/xc/lda_c_pw.pyi
  eminus/xc/utils.pyi
Due: none

version: Remove function call
  eminus/version.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

typing: Simplify type in pw xc
  eminus/xc/lda_c_pw.pyi
Due: none

typing: Fix a typo
  eminus/extras/viewer.pyi
Due: none

typing: Add overloads for add_maybe_none
  eminus/utils.pyi
Due: none

Remove unnecessary list comprehensions
  eminus/io/cube.py
  eminus/io/gth.py
  eminus/io/xyz.py
  eminus/utils.py
Due: coverage, lint, minimal, newest, typecheck

nix: Update flake to use python 3.12
  flake.lock
Due: none

Remove unused pytest-cov
  .gitlab-ci.yml
  docs/further.rst
  docs/license.rst
  flake.nix
  setup.py
Due: coverage, lint, typecheck, pages, pages:dev

docs: Add libxc to licenses
  docs/license.rst
Due: coverage, pages, pages:dev

ci: Simplify nbconvert command
  .gitlab-ci.yml
Due: none

gth: Fix edge case for GTH file sorting
  eminus/io/gth.py
  tests/test_gth.py
Due: coverage, lint, minimal, newest, typecheck

Add magnetization functions
  CHANGELOG.rst
  eminus/cell.py
  eminus/cell.pyi
  eminus/occupations.py
  eminus/occupations.pyi
  eminus/orbitals.py
  eminus/tools.py
  eminus/tools.pyi
  tests/test_dft.py
  tests/test_occupations.py
  tests/test_tools.py
Due: coverage, lint, minimal, newest, typecheck

Path conditions:
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  lint: any of: *.py, **/*.py
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  typecheck: any of: *.py, **/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
