Repository wangenau/eminus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, lint, minimal, newest, typecheck, pages, pages:dev

coverage:
  stage: test
  script:
  - uv pip install .
  - uv pip install coverage pyscf pytest
  - coverage run -m pytest tests/ --ignore=tests/examples --ignore=tests/extras
  - coverage report --precision=2
  - coverage html --precision=2
  - coverage xml
  coverage: /TOTAL.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  ...

lint:
  image: ghcr.io/astral-sh/ruff:alpine
  stage: test
  script:
  - ruff check

minimal:
  stage: test
  script:
  - uv pip install . --resolution lowest
  - uv pip install pytest
  - pytest tests/ -m "not slow"
  image: ghcr.io/astral-sh/uv:python3.8-bookworm-slim

newest:
  stage: test
  script:
  - uv pip install .
  - uv pip install pytest
  - pytest tests/ -m "not slow"

typecheck:
  image: ghcr.io/astral-sh/uv:python3.13-alpine
  stage: test
  script:
  - uv pip install -e .
  - uv pip install mypy[faster-cache]
  - mypy . --disable-error-code="import-not-found" --disable-error-code="unused-ignore"
  ...

pages:
  stage: build
  needs:
  - coverage
  script:
  - uv pip install .
  - uv pip install furo notebook sphinx sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  ...

pages:dev:
  stage: build
  needs: []
  script:
  - uv pip install .
  - uv pip install furo notebook sphinx sphinx-design sphinxcontrib-bibtex
  - sphinx-build -j "$(nproc)" -b html ./docs ./public
  - find examples -name '*.ipynb' -exec jupyter nbconvert --to html {} --template classic \;
  ...

version: Release v3.1.0
  CHANGELOG.rst
  CITATION.cff
  pyproject.toml
Due: none

docs: Cleanup license page
  docs/license.rst
Due: coverage, pages, pages:dev

docs: Update overview section
  docs/overview.rst
Due: coverage, pages, pages:dev

Old backend cleanup
  docs/license.rst
  docs/modules.rst
  eminus/config.py
  eminus/extras/README.md
  eminus/extras/__init__.py
  eminus/extras/__init__.pyi
  eminus/extras/jax.py
  eminus/extras/jax.pyi
  eminus/extras/torch.py
  eminus/extras/torch.pyi
  eminus/operators.py
  eminus/utils.py
  eminus/utils.pyi
  flake.nix
  pyproject.toml
  tests/extras/test_jax.py
  tests/extras/test_torch.py
  tests/test_config.py
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Add array-api-compat dependency
  eminus/version.py
  flake.nix
  pyproject.toml
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

Add backend module
  docs/modules.rst
  eminus/README.md
  eminus/backend.py
  eminus/backend.pyi
  tests/test_backend.py
Due: coverage, lint, minimal, newest, typecheck, pages, pages:dev

xc: Make backend compatible
  eminus/xc/gga_c_chachiyo.py
  eminus/xc/gga_c_pbe.py
  eminus/xc/gga_x_chachiyo.py
  eminus/xc/gga_x_pbe.py
  eminus/xc/lda_c_chachiyo.py
  eminus/xc/lda_c_pw.py
  eminus/xc/lda_c_vwn.py
  eminus/xc/lda_x.py
  eminus/xc/lda_xc_ksdt.py
  eminus/xc/utils.py
  tests/test_xc_gdsmfb.py
Due: coverage, lint, minimal, newest, typecheck

Backend debug improvements, disable CI, eagerly set torch dtypes
  .gitlab-ci.yml
  eminus/backend.py
  eminus/backend.pyi
  eminus/config.py
  eminus/xc/lda_xc_ksdt.py
  eminus/xc/utils.py
  tests/test_backend.py
Due: coverage, lint, minimal, newest, typecheck

array-api: Doc license, add lower version bound
  docs/license.rst
  pyproject.toml
Due: coverage, pages, pages:dev

extras: Make backend compatible (except for gui)
  eminus/backend.py
  eminus/backend.pyi
  eminus/extras/fods.py
  eminus/extras/hdf5.py
  eminus/extras/libxc.py
Due: coverage, lint, minimal, newest, typecheck

io: Make backend compatible (as far as possible)
  eminus/io/cube.py
  eminus/io/gth.py
  eminus/io/json.py
  eminus/io/pdb.py
  eminus/io/poscar.py
  eminus/io/traj.py
  eminus/io/xyz.py
Due: coverage, lint, minimal, newest, typecheck

Some rewrites, a lot of housekeeping for a later rewrite
  TODO.md
  eminus/atoms.py
  eminus/band_minimizer.py
  eminus/dft.py
  eminus/domains.py
  eminus/energies.py
  eminus/extras/d3.py
  eminus/extras/gui.py
  eminus/gth.py
  eminus/io/gth.py
  eminus/io/json.py
  eminus/kpoints.py
  eminus/localizer.py
  eminus/occupations.py
  eminus/potentials.py
  eminus/tools.py
  eminus/utils.py
  tests/test_atoms.py
Due: coverage, lint, minimal, newest, typecheck

Introduce class convert debug functions, wrap with debug decorator
  eminus/atoms.py
  eminus/backend.py
  eminus/gth.py
  eminus/io/pdb.py
  eminus/kpoints.py
  eminus/occupations.py
  eminus/scf.py
Due: coverage, lint, minimal, newest, typecheck

More easy xp conversions
  TODO.md
  eminus/domains.py
  eminus/io/pdb.py
  eminus/io/poscar.py
  eminus/io/traj.py
  eminus/io/xyz.py
  eminus/tools.py
  eminus/utils.py
Due: coverage, lint, minimal, newest, typecheck

config: Cleanup unused settings
  eminus/config.py
  eminus/config.pyi
  tests/test_config.py
Due: coverage, lint, minimal, newest, typecheck

Fixes and first operator conversions
  eminus/extras/hdf5.py
  eminus/gth.py
  eminus/kpoints.py
  eminus/operators.py
  eminus/tools.py
  tests/test_operators.py
Due: coverage, lint, minimal, newest, typecheck

More conversion bits
  TODO.md
  eminus/backend.py
  eminus/dft.py
  eminus/energies.py
  eminus/gga.py
  eminus/gth.py
  eminus/io/cube.py
  eminus/kpoints.py
  eminus/operators.py
  tests/test_dft.py
Due: coverage, lint, minimal, newest, typecheck

Make dt and gth backend compatible
  TODO.md
  eminus/backend.py
  eminus/dft.py
  eminus/energies.py
  eminus/gga.py
  eminus/gth.py
  eminus/scf.py
Due: coverage, lint, minimal, newest, typecheck

Working dft tests, remove convert attributes, still way to go
  TODO.md
  eminus/atoms.py
  eminus/backend.py
  eminus/band_minimizer.py
  eminus/cell.py
  eminus/dft.py
  eminus/energies.py
  eminus/gga.py
  eminus/gth.py
  eminus/kpoints.py
  eminus/minimizer.py
  eminus/occupations.py
  eminus/scf.py
  eminus/tools.py
  eminus/utils.py
Due: coverage, lint, minimal, newest, typecheck

More xp conversion, replace np casts with asarray calls, use np for errstate
  eminus/atoms.py
  eminus/backend.py
  eminus/band_minimizer.py
  eminus/energies.py
  eminus/gth.py
  eminus/io/cube.py
  eminus/io/poscar.py
  eminus/io/traj.py
  eminus/io/xyz.py
  eminus/kpoints.py
  eminus/minimizer.py
  eminus/operators.py
  eminus/potentials.py
  eminus/scf.py
  eminus/tools.py
  eminus/utils.py
  eminus/xc/gga_c_pbe.py
  eminus/xc/gga_x_pbe.py
  eminus/xc/lda_xc_ksdt.py
  tests/test_backend.py
Due: coverage, lint, minimal, newest, typecheck

Move sqrtm to utils, simplify backend
  eminus/backend.py
  eminus/band_minimizer.py
  eminus/dft.py
  eminus/utils.py
  eminus/utils.pyi
Due: coverage, lint, minimal, newest, typecheck

Remove a lot of debug statements, make xc tests pass
  eminus/band_minimizer.py
  eminus/dft.py
  eminus/domains.py
  eminus/extras/libxc.py
  eminus/gga.py
  eminus/gth.py
  eminus/kpoints.py
  eminus/localizer.py
  eminus/operators.py
  eminus/tools.py
  eminus/utils.py
  eminus/xc/gga_c_chachiyo.py
  eminus/xc/gga_c_pbe.py
  eminus/xc/gga_x_chachiyo.py
  eminus/xc/gga_x_pbe.py
  eminus/xc/lda_c_chachiyo.py
  eminus/xc/lda_c_pw.py
  eminus/xc/lda_c_vwn.py
  eminus/xc/lda_x.py
  eminus/xc/lda_xc_ksdt.py
  eminus/xc/utils.py
  tests/test_xc.py
  tests/test_xc_gdsmfb.py
  tests/test_xc_utils.py
Due: coverage, lint, minimal, newest, typecheck

Make a lot of tests pass
  eminus/atoms.py
  eminus/energies.py
  eminus/extras/d3.py
  eminus/gth.py
  eminus/localizer.py
  eminus/minimizer.py
  eminus/occupations.py
  eminus/operators.py
  eminus/potentials.py
  eminus/utils.py
  eminus/utils.pyi
  tests/test_localizer.py
  tests/test_occupations.py
  tests/test_operators.py
  tests/test_orbitals.py
  tests/test_tools.py
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck

Almost all slow torch tests passing
  eminus/atoms.py
  eminus/cell.py
  eminus/domains.py
  eminus/extras/fods.py
  eminus/extras/hdf5.py
  eminus/extras/libxc.py
  eminus/io/cube.py
  eminus/io/gth.py
  eminus/io/json.py
  eminus/io/pdb.py
  eminus/io/poscar.py
  eminus/io/traj.py
  eminus/io/xyz.py
  eminus/kpoints.py
  tests/extras/test_fods.py
  tests/extras/test_libxc.py
  tests/test_atoms.py
  tests/test_backend.py
  tests/test_cell.py
  tests/test_dft.py
  tests/test_domains.py
  tests/test_energies.py
  tests/test_gga.py
  tests/test_gth.py
  tests/test_io.py
  tests/test_kpoints.py
  tests/test_operators.py
Due: coverage, lint, minimal, newest, typecheck

Fix some numpy tests
  tests/test_backend.py
  tests/test_operators.py
Due: coverage, lint, minimal, newest, typecheck

Some reorganization and cleanup
  eminus/backend.py
  eminus/backend.pyi
  eminus/band_minimizer.py
  eminus/dft.py
  eminus/kpoints.py
  eminus/localizer.py
  eminus/tools.py
  eminus/utils.py
  eminus/utils.pyi
Due: coverage, lint, minimal, newest, typecheck

Remove most debug code
  eminus/backend.py
  eminus/backend.pyi
  eminus/extras/fods.py
  eminus/extras/libxc.py
  eminus/io/pdb.py
Due: coverage, lint, minimal, newest, typecheck

Remove most np instances from tests
  eminus/config.py
  eminus/extras/fods.py
  eminus/kpoints.py
  eminus/operators.py
  tests/dft_calculations/test_band_structure.py
  tests/test_ewald.py
  tests/test_kpoints.py
  tests/test_occupations.py
  tests/test_scf.py
Due: coverage, lint, minimal, newest, typecheck

Cut down on casts and conversions
  eminus/atoms.py
  eminus/band_minimizer.py
  eminus/config.py
  eminus/dft.py
  eminus/extras/libxc.py
  eminus/gth.py
  eminus/io/cube.py
  eminus/kpoints.py
  eminus/occupations.py
  eminus/operators.py
Due: coverage, lint, minimal, newest, typecheck

Try to simplify backend, fix numpy test by using scipy fft
  eminus/backend.py
  eminus/backend.pyi
  eminus/operators.py
Due: coverage, lint, minimal, newest, typecheck

Optimize operators, more cast improvements
  eminus/atoms.py
  eminus/cell.py
  eminus/energies.py
  eminus/gga.py
  eminus/kpoints.py
  eminus/occupations.py
  eminus/operators.py
  eminus/scf.py
Due: coverage, lint, minimal, newest, typecheck

Fix all remmaining torch warnings
  eminus/dft.py
  eminus/energies.py
  eminus/extras/fods.py
  eminus/extras/libxc.py
  eminus/io/json.py
  eminus/kpoints.py
  eminus/tools.py
  tests/test_operators.py
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck

toml: Add PLC0415 to ignore list
  pyproject.toml
Due: none

Add xp.delete, more simplifications to reduce the diff
  eminus/backend.py
  eminus/backend.pyi
  eminus/extras/fods.py
  eminus/extras/hdf5.py
  eminus/extras/libxc.py
  eminus/kpoints.py
Due: coverage, lint, minimal, newest, typecheck

asarray cleanups
  eminus/domains.py
  eminus/kpoints.py
  eminus/localizer.py
  eminus/tools.py
  tests/test_atoms.py
  tests/test_cell.py
  tests/test_dft.py
  tests/test_domains.py
  tests/test_io.py
  tests/test_occupations.py
  tests/test_operators.py
  tests/test_scf.py
  tests/test_utils.py
Due: coverage, lint, minimal, newest, typecheck

Last np to xp conversion, cleanup backend a bit
  eminus/backend.py
  eminus/backend.pyi
  eminus/energies.py
  eminus/io/json.py
  eminus/kpoints.py
  eminus/localizer.py
Due: coverage, lint, minimal, newest, typecheck

minimizer: Fix printing
  eminus/minimizer.py
Due: coverage, lint, minimal, newest, typecheck

Fix typing
  .gitlab-ci.yml
  pyproject.toml
  tests/extras/test_libxc.py
  tests/test_atoms.py
  tests/test_io.py
  tests/test_scf.py
  tests/test_tools.py
  tests/test_xc.py
  tests/test_xc_gdsmfb.py
Due: coverage, lint, minimal, newest, typecheck

Fix CI
  .gitlab-ci.yml
  eminus/atoms.py
  eminus/backend.pyi
  eminus/energies.py
  eminus/gga.py
Due: coverage, lint, minimal, newest, typecheck

More CI fixes
  .gitlab-ci.yml
Due: none

Path conditions:
  coverage: any of: *.py, **/*.py, docs/*, docs/**/*
  lint: any of: *.py, **/*.py
  minimal: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  newest: any of: eminus/*.py, eminus/**/*.py, tests/*.py, tests/**/*.py
  typecheck: any of: *.py, **/*.py
  pages: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
  pages:dev: any of: docs/*, docs/**/*, examples/*, examples/**/*, eminus/version.py
